body, html{
	height: 100%;
}
.bg {
  /* The image used */
  background-image: url("../img/layout/farm-original.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div-form{
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
  position: relative;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.inicio{
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 15px 32px 15px;

  width: 100%;
  position: relative;
  z-index: 1;
}
.title-1{
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  padding-bottom: 7px;
}
.inicio::before{
	content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,84,99,0.7);
}

.group{ 
  position:relative; 
  margin-bottom:10px; 
}
.input{
  font-size:18px;
  display:block;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 0px;
}

